@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
/*variables de mi css*/
/*colores*/
/*border*/
/*mixin*/
/*exten*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
.box1, .box2, .box3, .box4, .box5, .box6, .blogs .box-container {
  border: none; }
  .box1 .image, .box2 .image, .box3 .image, .box4 .image, .box5 .image, .box6 .image, .blogs .box-container .image {
    height: 25rem;
    overflow: hidden;
    width: 100%; }
    .box1 .image img, .box2 .image img, .box3 .image img, .box4 .image img, .box5 .image img, .box6 .image img, .blogs .box-container .image img {
      height: 100%;
      object-fit: cover;
      width: 100%; }
  .box1 .content, .box2 .content, .box3 .content, .box4 .content, .box5 .content, .box6 .content, .blogs .box-container .content {
    padding: 2rem; }
    .box1 .content .title, .box2 .content .title, .box3 .content .title, .box4 .content .title, .box5 .content .title, .box6 .content .title, .blogs .box-container .content .title {
      font-size: 2.5rem;
      line-height: 1.5;
      color: #ffffff; }
    .box1 .content span, .box2 .content span, .box3 .content span, .box4 .content span, .box5 .content span, .box6 .content span, .blogs .box-container .content span {
      color: #1abc9c;
      display: block;
      padding-top: 1rem;
      font-size: 2rem; }
    .box1 .content p, .box2 .content p, .box3 .content p, .box4 .content p, .box5 .content p, .box6 .content p, .blogs .box-container .content p {
      font-size: 1.6rem;
      color: #ffffff;
      padding: 1rem 0;
      line-height: 1.8; }

.red-twitter {
  color: #044578; }

.red-facebook {
  color: blue; }

.red-instagram {
  color: #9d2354; }

.red-linkedin {
  color: #083a90; }

.red-pinterest {
  color: #d42929; }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth; }

html::-webkit-scrollbar {
  width: .8rem; }

html::-webkit-scrollbar-track {
  background: transparent; }

html::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 5rem; }

body {
  background: #545454; }

section {
  padding: 2rem 7%; }

.heading {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem; }
  .heading span {
    color: #1abc9c;
    text-transform: uppercase; }

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  color: #ffffff;
  background: #1abc9c;
  cursor: pointer; }

.btn:hover {
  letter-spacing: .2rem; }

li {
  font-size: 15px; }
  li i {
    font-size: 25px; }

.nav {
  background: #545454;
  height: 80px;
  color: #ffffff;
  padding-top: 15px; }

.nav-log {
  font-size: 24px;
  font-weight: 900; }

.nav-container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center; }
  .nav-container a {
    font-size: 15px; }

.nav-label, .nav-input {
  display: none; }

.nav-menu {
  display: grid;
  grid-auto-flow: column;
  gap: 48px; }

.nav-item {
  color: #ffffff;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }

.nav-input:checked + .nav-menu {
  background: #1abc9c; }

.nav-item::after {
  content: "";
  display: block;
  background: #ffffff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path .4s; }

.nav-item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%); }

@keyframes checked-anim {
  50% {
    width: 3000px;
    height: 3000px; }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 0; } }

@keyframes not-checked-anim {
  0% {
    width: 3000px;
    height: 3000px; } }

header li, header a {
  margin: 75px 0 -55px 0;
  color: black;
  font: 14px "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.8;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  outline: 0;
  display: none; }

header li {
  width: 230px;
  text-indent: 56px; }

header a:focus {
  display: block;
  color: #1abc9c;
  background-color: #1abc9c;
  transition: all .5s; }

header div {
  position: absolute;
  color: #272727;
  top: 35%;
  right: 10%;
  text-align: right; }

header h1 {
  line-height: 0;
  font-size: 4vw;
  font-weight: 700;
  margin: 5px;
  padding: 5px;
  color: #ffffff; }

header h3 {
  float: right;
  line-height: .3;
  font-size: 2.5vw;
  font-weight: lighter;
  margin: 5px;
  padding: 5px;
  color: #ffffff; }

header html, header body {
  margin: 0;
  padding: 0;
  background-color: #1abc9c;
  font-family: 'Roboto', sans-serif;
  overflow: hidden; }

header #trigger, header #burger, header #burger:before, header #burger:after {
  position: absolute;
  top: 25px;
  left: 25px;
  background: #1abc9c;
  width: 30px;
  height: 5px;
  transition: .2s ease;
  cursor: pointer;
  z-index: 1; }

header #trigger {
  height: 25px;
  background: none; }

header #burger:before {
  content: " ";
  top: 10px;
  left: 0; }

header #burger:after {
  content: " ";
  top: 20px;
  left: 0; }

header #menu-toggle:checked + #trigger + #burger {
  top: 35px;
  transform: rotate(180deg);
  transition: transform .2s ease; }

header #menu-toggle:checked + #trigger + #burger:before {
  width: 20px;
  top: -2px;
  left: 18px;
  transform: rotate(45deg) translateX(-5px);
  transition: transform .2s ease; }

header #menu-toggle:checked + #trigger + #burger:after {
  width: 20px;
  top: 2px;
  left: 18px;
  transform: rotate(-45deg) translateX(-5px);
  transition: transform .2s ease; }

header #menu {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 110px;
  height: 110px;
  background-color: #ffffff;
  border-bottom-right-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  animation: not-checked-anim .2s both;
  transition: .2s; }

header #menu-toggle:checked + #trigger + #burger + #menu {
  animation: checked-anim 1s ease both; }

header #menu-toggle:checked + #trigger ~ #menu > li, header a {
  display: block; }

header [type="checkbox"]:not(:checked), header [type="checkbox"]:checked {
  display: none; }

/*whatsapp*/
.boton {
  position: fixed;
  width: 90px;
  transition: ease 1s;
  bottom: 50px;
  right: 25px;
  padding: 25px; }

/*css reseñas*/
.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem; }
  .review .box-container .box {
    border: 0.1rem solid black;
    text-align: center;
    padding: 3rem 2rem; }
    .review .box-container .box p {
      font-size: 1.6rem;
      color: #ffffff;
      padding: 1rem 0;
      line-height: 1.8; }
    .review .box-container .box .user {
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      object-fit: cover; }
    .review .box-container .box h3 {
      padding: 1rem 0;
      font-size: 2rem;
      color: #ffffff; }
    .review .box-container .box .stars i {
      font-size: 1.5rem;
      color: #1abc9c; }

.contact .row {
  display: flex;
  background: black;
  flex-wrap: wrap;
  gap: 1rem; }
  .contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover; }
  .contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center; }
    .contact .row form h3 {
      text-transform: uppercase;
      font-size: 3.5rem;
      color: #ffffff; }
    .contact .row form .inputBox {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      background: #545454;
      border: 0.1rem solid black; }
      .contact .row form .inputBox span {
        color: #ffffff;
        font-size: 2rem;
        padding-left: 2rem; }
      .contact .row form .inputBox input {
        width: 100%;
        padding: 2rem;
        font-size: 1.7rem;
        color: #ffffff;
        text-transform: none;
        background: none; }

/*css de mi inicio*/
.home {
  min-height: 50vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center; }
  .home .content {
    max-width: 60rem; }
    .home .content h1 {
      font-size: 6rem;
      text-transform: uppercase;
      color: #ffffff; }
    .home .content p {
      font-size: 1.6rem;
      color: #ffffff;
      padding: 1rem 0;
      line-height: 1.8; }

.cuerpo-grid {
  padding: 0 15px; }
  .cuerpo-grid .cuerpo-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    grid-auto-flow: dense; }

/*about css*/
.about .row {
  display: flex;
  align-items: center;
  background: black;
  flex-wrap: wrap; }
  .about .row .image {
    flex: 1 1 45rem; }
    .about .row .image img {
      width: 100%; }
  .about .row .content {
    flex: 1 1 45rem;
    padding: 2rem; }
    .about .row .content h3 {
      font-size: 3rem;
      color: #ffffff; }
    .about .row .content p {
      font-size: 1.6rem;
      color: #ffffff;
      padding: 1rem 0;
      line-height: 1.8; }

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%; }
  .header {
    padding: 1.5rem 2rem; }
  section {
    padding: 2rem; } }

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block; }
  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #ffffff;
    width: 30rem;
    height: calc(100vh - 9.5rem); }
  .header .navbar.active {
    right: 0; }
  .header .navbar a {
    color: black;
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2rem; }
  .header .search-form {
    width: 90%;
    right: 2rem; }
  .home {
    background-position: left;
    justify-content: center;
    text-align: center; }
  .home .content h3 {
    font-size: 4.5rem; }
  .home .content p {
    font-size: 1.5rem; } }

@media (max-width: 450px) {
  html {
    font-size: 50%; } }

@media (max-width: 600px) {
  .contenedor-grid {
    grid-template-rows: repeat(3, 150px); } }

/*media del menu hamburgesa*/
@media (max-width: 768px) {
  .nav-label {
    display: block;
    cursor: pointer; }
  .nav-menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: #1abc9c;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out; }
  .nav-input:checked + .nav-menu {
    clip-path: circle(100% at center); } }

@media screen and (max-width: 768px) {
  .logo {
    margin-left: 50px; }
  nav {
    height: 100px; }
  .bar-btn {
    display: none; }
  .nav-menu {
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px; }
    .nav-menu li {
      display: inline-block;
      line-height: 100px;
      margin: 0 20px;
      transition: none; }
      .nav-menu li a {
        font-size: 12px; } }

/*css menu*/
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem; }
  .menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: 0.1rem solid black; }
    .menu .box-container .box img {
      height: 10rem; }
    .menu .box-container .box h3 {
      color: #ffffff;
      font-size: 2rem;
      padding: 1rem 0; }
    .menu .box-container .box .price {
      color: #ffffff;
      font-size: 2.5rem;
      padding: .5rem 0; }
      .menu .box-container .box .price span {
        font-size: 1.5rem;
        text-decoration: line-through;
        font-weight: lighter; }

.menu .box-container .box:hover {
  background: #ffffff; }

.menu .box-container .box:hover > * {
  color: black; }

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem; }
  .products .box-container .box {
    text-align: center;
    border: 0.1rem solid black;
    padding: 2rem; }
    .products .box-container .box .icons a {
      height: 5rem;
      width: 5rem;
      line-height: 5rem;
      font-size: 2rem;
      border: 0.1rem solid black;
      color: #ffffff;
      margin: .3rem; }
    .products .box-container .box .image {
      padding: 2.5rem 0; }
      .products .box-container .box .image img {
        height: 25rem; }
    .products .box-container .box .content h3 {
      color: #ffffff;
      font-size: 2.5rem; }
    .products .box-container .box .content .stars {
      padding: 1.5rem; }
      .products .box-container .box .content .stars i {
        font-size: 1.7rem;
        color: #1abc9c; }
    .products .box-container .box .content .price {
      color: #ffffff;
      font-size: 2.5rem; }
      .products .box-container .box .content .price span {
        text-decoration: line-through;
        font-weight: lighter;
        font-size: 1.5rem; }

.products .box-container .box .icons a:hover {
  background: #1abc9c; }

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem; }

.blogs .box-container .box .content .title:hover {
  color: #1abc9c; }

.blogs .box-container .box:hover .image img {
  transform: scale(1.2); }

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem; }
  .products .box-container .box {
    text-align: center;
    border: 0.1rem solid black;
    padding: 2rem; }
    .products .box-container .box .icons a {
      height: 5rem;
      width: 5rem;
      line-height: 5rem;
      font-size: 2rem;
      border: 0.1rem solid black;
      color: #ffffff;
      margin: .3rem; }
    .products .box-container .box .image {
      padding: 2.5rem 0; }
      .products .box-container .box .image img {
        height: 25rem; }
    .products .box-container .box .content h3 {
      color: #ffffff;
      font-size: 2.5rem; }
    .products .box-container .box .content .stars {
      padding: 1.5rem; }
      .products .box-container .box .content .stars i {
        font-size: 1.7rem;
        color: #1abc9c; }
    .products .box-container .box .content .price {
      color: #ffffff;
      font-size: 2.5rem; }
      .products .box-container .box .content .price span {
        text-decoration: line-through;
        font-weight: lighter;
        font-size: 1.5rem; }

.products .box-container .box .icons a:hover {
  background: #1abc9c; }

/*css de mi footer*/
footer .credit {
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
  font-weight: lighter;
  padding: 1.5rem; }
  footer .credit span {
    color: #1abc9c; }

footer i {
  margin-top: 20px; }

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear; }
