/*about css*/

.about .row{
    display: flex;
    align-items: center;
    background:$color-fondo2;
    flex-wrap: wrap;
    .image{
        flex:1 1 45rem;
        img{
            width: 100%;
        }
    }
    .content{
        flex:1 1 45rem;
        padding:2rem;
        h3{
            font-family: 'Bebas Neue', cursive !important;
            font-size: 3rem;
            color:$color-primary;
        }
        p{
            font-family: 'Bebas Neue', cursive !important;
            @include textosp ();
        }
    }
}