

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    @extend .box1;
}

.blogs .box-container .box .content .title:hover{
    color:$color-principal;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}