/*css de mi footer*/
// Variables
@import "variables";

.footer{
    background:$color-fondo2;
    text-align: center;
    .share{
        padding:1rem 0;
        a{
            height: 5rem;
            width: 5rem;
            line-height: 5rem;
            font-size: 2rem;
            color:$color-primary;
            border:$border;
            margin:.3rem;
            border-radius: 50%;
        }
    }
    .links{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding:2rem 0;
        gap:1rem;
        a{
            padding:.7rem 2rem;
            color:$color-primary;
            border:$border;
            font-size: 2rem;
        }
    }
    .credit{
        font-size: 2rem;
        color:$color-primary;
        font-weight: lighter;
        padding:1.5rem;
        span{
            color:$color-principal;
        }
    }
}

.footer .share a:hover{
    background-color: $color-principal;
}

.footer .links a:hover{
    background:$color-principal;
}