/*css de mi footer*/


footer{
    .credit{
        text-align: center;
        font-size: 2rem;
        color:$color-primary;
        font-weight: lighter;
        padding:1.5rem;
        span{
            color:$color-principal;
        }
    }
    i{
        margin-top: 20px;
    }
}
