/*css del header*/


.header{
    background: $color-fondo;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: $border;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    .logo img{
        height: 6rem;
    }
    .navbar a{
        margin:0 1rem;
        font-size: 1.6rem;
        color: $color-primary;
    }
    .icons div{
        color:$color-primary;
        cursor: pointer;
        font-size: 2.5rem;
        margin-left: 2rem;
    }
    .search-form{
        position: absolute;
        top:115%; right: 7%;
        background: $color-primary;
        width: 50rem;
        height: 5rem;
        display: flex;
        align-items: center;
        transform: scaleY(0);
        transform-origin: top;
    }
    .search-form.active{
        transform: scaleY(1);
    }
    .search-form input{
        height: 100%;
        width: 100%;
        font-size: 1.6rem;
        color:$color-fondo2;
        padding:1rem;
        text-transform: none;
    }
    .search-form label{
        cursor: pointer;
        font-size: 2.2rem;
        margin-right: 1.5rem;
        color:$color-fondo2;
    }
    .cart-items-container{
        position: absolute;
        top:100%; right: -100%;
        height: calc(100vh - 9.5rem);
        width: 35rem;
        background: $color-primary;
        padding:0 1.5rem;
        .cart-item img{
            height: 7rem;
            .content h3{
                font-size: 2rem;
                color:$color-fondo2;
                padding-bottom: .5rem;
            }
        }
        .cart-item .content .price{
            font-size: 1.5rem;
            color:$color-principal;
        }
        .btn{
            width: 100%;
            text-align: center;
        }
    }
    .cart-items-container.active{
        right: 0;
    }
    .cart-items-container .cart-item{
        position: relative;
        margin:2rem 0;
        display: flex;
        align-items: center;
        gap:1.5rem;
    }
    .cart-items-container .cart-item .fa-times{
        position: absolute;
        top:1rem; right: 1rem;
        font-size: 2rem;
        cursor: pointer;
        color: $color-fondo2;
    }
}

.header .navbar a:hover{
    color:$color-principal;
    border-bottom: .1rem solid $color-principal;
    padding-bottom: .5rem;
}

.header .icons div:hover{
    color:$color-principal;
}

#menu-btn{
    display: none;
}

.header .search-form label:hover{
    color:$color-principal;
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:$color-principal;
}