/*css de mi inicio*/


.home{
    min-height: 50vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    .content{
        max-width: 60rem;
        h1{
            @include fontzh1();
        }
        p{
            @include textosp ();
        }
    }
}


.cuerpo-grid {
     padding: 0 15px;
     .cuerpo-cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 16px;
        grid-auto-flow: dense;
     }
}
 


  
 
