/*css de mi inicio*/


.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    .content{
        max-width: 60rem;
        h1{
            font-size: 6rem;
            text-transform: uppercase;
            color:$color-primary;
        }
        p{
            font-size: 2rem;
            font-weight: lighter;
            line-height: 1.8;
            padding:1rem 0;
            color:$color-primary;
        }
    }
}

.contenedor-grid {
    background: $color-fondo;
    display: grid;
    gap: 5px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(1, 150px);
    height: 300px;
    text-align: center;
}

  
 
