
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: $color-primary;
    border-radius: 5rem;
}

body{
    background: $color-fondo;
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color: $color-primary;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    span{
        color:$color-principal;
        text-transform: uppercase;
    }
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color: $color-primary;
    background: $color-principal;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

li{
    font-size: 15px;
    i{
        font-size: 25px;
    }
}