// mapa
$redes: (
    twitter: rgb(4, 69, 120),
    facebook: blue,
    instagram: rgb(157, 35, 84),
    linkedin: rgb(8, 58, 144),
    whatsapp: rgb(76, 157, 81),
);

@each $red, $color in $redes {
    .red-#{$red}{
        color: $color;
    }
}
