/*variables de mi css*/

/*colores*/
$color-principal:#1abc9c;
$color-primary: #ffffff;
$color-secondary: #9e9e9e;
$color-fondo: #545454;
$color-fondo2: black;

/*border*/
$border: .1rem solid black;

